.cis260specialgreen {
    color: #4fd0be;
    font-weight: bold;
}


#content p {
    color: blue;
}


nav {
    display: flex;
    flex-direction: column;
}

html {
    box-sizing: border-box;
    margin: 0;

}



form p {
    display: flex;
    margin-bottom: 1em;

}

div ul li {
    color:  rgb(86, 170, 179);
}

body {
    background-color: #ccdaff;

    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh
}

header {
    display: flex;
    align-items: center
}


main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;


}


a:hover {
    color: #aaa;
}




@media screen and (max-width:40rem) {
    header {
        flex-direction: column;
    }
    form p {
            flex-direction: column;
    }
}





h2 {
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #828282;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #555;

}

